@model NguyenVanAn0025.Models.NVA025SanPham

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>NVA025SanPham</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenSanPham)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenSanPham)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiaSanPham)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiaSanPham)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaSanPham">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
